* {
   margin: 0;
   padding: 0;
}

.timer {
   width: 500px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: rgb(209, 209, 209);
   border-radius: 5px;
   /* color: white; */
   padding: 2rem;
   text-align: center;
   margin: 0 auto;
   font-size: 30px;
   font-family: Arial;
}
span {
   width: 50px;
   font-size: 50px;
}

.span-left {
   /* margin-right: -20px; */
}

input {
   width: 60px;
   background-color: rgb(209, 209, 209);
   text-align: end;
   border: none;
   font-size: 50px;
}

/* input[type="text"],
textarea {

} */

input:focus {
   outline: none;
}

.input-wrap {
   border-bottom: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 10px;
   width: 300px;
   /* border: 1px solid green; */
}

.timer-wrap {
   display: flex;
   gap: 18px;
   padding-left: 10px;
}

/*  */
/* remove arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
/* Firefox */
input[type="number"] {
   -moz-appearance: textfield;
}
/* end of arrows */
/*  */

.timer span[data-minutes]::after {
   content: "m";
   font-size: 30px;
}
.timer span[data-seconds]::after {
   content: "s";
   font-size: 30px;
}

.timer-form {
   width: 500px;
   margin: 0 auto;
}

.hide {
   display: none;
}
