* {
   margin: 0;
   padding: 0;
}

.main-wrap {
   margin-top: 30px;
}

.timer {
   width: 400px;
   height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: rgb(255, 255, 255);
   border-radius: 50%;

   padding: 2rem;
   padding-top: 50px;
   text-align: center;
   margin: 0 auto;
   font-size: 30px;
   font-family: Arial;
}
span {
   width: 50px;
   font-size: 50px;
}

input {
   width: 60px;
   background-color: rgb(255, 255, 255);
   text-align: end;
   border: none;
   font-size: 50px;
}

input:focus {
   outline: none;
}

.timer-wrap {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 13px;
   padding-left: 13px;
   border-bottom: 1px solid black;
   width: 200px;
}

/*  */
/* remove arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
/* Firefox */
input[type="number"] {
   -moz-appearance: textfield;
}
/* end of arrows */
/*  */

.timer span[data-minutes]::after {
   content: "m";
   font-size: 30px;
}
.timer span[data-seconds]::after {
   content: "s";
   font-size: 30px;
}

.timer-form {
   width: 500px;
   margin: 0 auto;
}

.inputs {
   display: flex;
   justify-content: center;
   border-bottom: 1px solid black;
   width: 200px;
   gap: 5px;
}

.btn {
   margin-top: 40px;
   width: 120px;
   box-shadow: 0 8px 10px -4px rgba(131, 131, 131, 0.507);
}

/* .d-flex {
   gap: 15px;
} */

.hide {
   display: none;
}
